[submodule "pixijs"]
	path = pixijs
	url = git@github.com:23TNC/resonantdust_pixijs.git
[submodule "spacetime"]
	path = spacetime
	url = git@github.com:23TNC/resonantdust_spacetime.git
[submodule "actionmanager"]
	path = actionmanager
	url = git@github.com:23TNC/resonantdust_actionmanager.git
