[submodule "pixijs"]
	path = pixijs
	url = git@github.com:23TNC/resonantdust_pixijs.git
[submodule "spacetime"]
	path = spacetime
	url = git@github.com:23TNC/resonantdust_spacetime.git
[submodule "content"]
	path = content
	url = git@github.com:23TNC/resonantdust_content.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:23TNC/resonantdust_gateway.git
[submodule "npc"]
	path = npc
	url = git@github.com:23TNC/resonantdust_client.git
[submodule "client"]
	path = client
	url = git@github.com:23TNC/resonantdust_client.git
[submodule "shared"]
	path = shared
	url = git@github.com:23TNC/resonantdust_shared.git
